<!-- footer.component.html -->
<footer class="footer">
    <div class="left-section">
      <img src="../../../assets/logo.png" alt="Company Logo" />
    </div>
    <div class="right-section">
      <ul class="footer-links">
        <li><a href="https://urban.health/" aria-current="page" class="nav-link light w--current">Home</a></li>
        <li><a href="https://urban.health/about">About</a></li>
        <li><a href="https://urban.health/contact">Contact</a></li>
        <li><a href="https://www.linkedin.com/company/urbanhq/?originalSubdomain=in">LinkedIn</a></li>
      </ul>
    </div>
  </footer>
  