<!-- app.component.html -->
<app-header></app-header>

<div *ngIf="loading">Loading...</div>
    <div *ngIf="error">{{ error }}</div>
    <p> {{data}}</p>
    
<div *ngIf="!loading" class="app-container-text">
    <span  class="app-item-text" *ngFor='let item of data[1].text; let i = index'>
        <app-chart-holder [isText]=true [title]="item.title" [data]= "item.data" top="100" left="0" >
        </app-chart-holder>
    </span> 
   
</div>

<div *ngIf="!loading" class="app-container-pie">
    <span  class="app-item-pie" *ngFor='let item of data[2].pie; let i = index'>
        <app-chart-holder [isPie]=true [title]="item.title" [data]= "item.data" top="100" left="0" >
        </app-chart-holder>
    </span> 
</div>
<div *ngIf="!loading" class="app-container-line">
    <span class="app-item-line" *ngFor='let item of data[0].line; let i = index'>
        <app-chart-holder [isLine]=true [title]="item.title" [data]= "item.data" top="100" left="0" >
        </app-chart-holder>
    </span>
    
</div>

<app-footer></app-footer>
