<!-- app.component.html -->
<app-header></app-header>
<div class="app-container">
    <app-chart-holder class="app-item" title="Dynamic Component" height="200"  top="100" left="0" ></app-chart-holder>
    <app-chart-holder class="app-item" title="Dynamic Component" height="200"  top="100" left="0" ></app-chart-holder>
    <app-chart-holder class="app-item" title="Dynamic Component" height="200"  top="100" left="0" ></app-chart-holder>
    <app-chart-holder class="app-item" title="Dynamic Component" height="200"  top="100" left="0" ></app-chart-holder>
    <app-chart-holder class="app-item" title="Dynamic Component" height="200"  top="100" left="0" ></app-chart-holder>
</div>
<app-footer></app-footer>
