  .app-container-pie {
    background-color: #ffffff;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    padding: 10px;
  }
  .outer-container{
    min-height: 100vh;
  }
  .app-container-text{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    padding: 10px;

  }
  .app-item-pie{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  .app-item-text{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 20px;
    text-align: center;

   
  }

  .app-container-line{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    padding: 10px;
  }

  .app-item-line{
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .app-container-text{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .app-container-pie{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .app-container-line{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }


  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .dropdown {
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown span{
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    z-index: 1;
    min-height: 40vh;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #51bd7eb2;
  }
  
  .active {
    background-color:  #51bd7eb2;
  }
  