  .app-container-pie {
    background-color: #ffffff;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    padding: 10px;
  }

  .app-container-text{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
    padding: 10px;
  }
  .app-item-pie{
    background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.201);
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  .app-item-text{
    background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.201);
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  .app-container-line{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
    padding: 10px;
  }

  .app-item-line{
    background-color: rgba(255, 255, 255, 0.8);
    // border: 1px solid rgba(0, 0, 0, 0.201);
    padding: 5px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 768px) {
    .app-container-text{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .app-container-pie{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .app-container-line{
      grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
  }


  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px; /* Adjust the height as needed */
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

