/* dynamic-component.component.css */
.dynamic-component {
    border: 1px solid #0a58074b;
    padding: 0;
    background-color: #81f2a718;
    border-radius: 10px;
    height: 100%;
  }
 .title{
    color: rgb(59, 116, 63);
    padding: 5px;
    background-color: rgba(82, 148, 109, 0.496);
 } 

 .text-chart-top-date{
   padding: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 10px;
 }


 .text-chart-bottom-date{
   padding: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 10px;
 }

 .text-chart-change{
   padding: 2px;
   margin: 2px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(31, 167, 108);
   border-radius: 15px;
   font-size: 15px;
 }
 .text-chart-change-negative{
   padding: 2px;
   margin: 2px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: rgb(249, 76, 1);
   border-radius: 15px;
   font-size: 15px;
 }